@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: hsl(236, 100%, 87%);
  font-weight: 300;
}

h1 {
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

#name {
  background-color: hsl(246, 80%, 60%);
  border-radius: 12px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: hsl(235, 46%, 20%);
  padding: 20px 0;
}
li {
  margin: 0 10px;
  cursor: pointer;
  font-weight: 300;
}
li:hover {
  font-weight: 500;
}

.grid-item {
  background-color: hsl(235, 46%, 20%);
  border-radius: 12px;
}
